.counter{
    min-width:  300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color:  rgb(228, 249, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid  rgb(58, 184, 148);
    margin-bottom: 15px;
   background-color: #144354;
}